@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400');

body {
  width: 90%;
  max-width: 40em;
  margin: 1em auto;
  line-height: 2.0;
  font-family: 'Source Code Pro', Consolas, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

h1, h2, h3, h4 {
  margin: 1em 0;
  font-weight: 400;
}

li {
  list-style: square;
}

dt {
  margin: 1em 0;
}

dd {
  display: list-item;
  margin-left: 2.5em;
  list-style: square;
}

hr {
  width: 75%;
  margin: 2em auto;
  border: 0;
  border-top: 2px dotted #a6a6a6;
}

p {
  text-indent: 1em;
}

a {
  padding: .2em 0;
  text-decoration: none;
  color: #888;
  border-bottom: 2px dotted #a6a6a6;
}

a:visited, a:hover {
  color: #000;
}

a:hover {
  border-bottom: 2px solid #888;
}

a:hover img {
  opacity: 0.7;
}

pre {
  white-space: pre-wrap;
}

pre, code {
  font-family: 'Source Code Pro', Consolas, monospace;
}

code, .highlighter-rouge {
  background: #e9e9e9;
}

code {
  padding: .2em .5em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

div.highlighter-rouge {
  margin: 1em -1em 0 -1em;
  padding: .2em 2em;
  overflow: auto;
}

.highlighter-rouge code {
  padding: 0;
}

time {
  color: #888;
}

small {
  display: block;
  margin: 2em 0;
  font-size: medium;
  text-align: center;
}

::selection {
  color: #fff;
  background: #000;
}

::-moz-selection {
  color: #fff;
  background: #000;
}

:target {
  font-weight: bolder;
}
