---
layout: default
---

<h2><a href="{{ site.baseurl }}/category.html" title="カテゴリ一覧">カテゴリ一覧</a></h2>
<ul>
{% for category in site.categories %}
<li>[<a href="{{ site.baseurl }}/category.html#{{ category[0] }}" title="{{ category[0] }}">{{ category[0] }}</a>] ({% assign name = category[0] %}{{ site.categories[name] | size }})</li>
{% endfor %}
</ul>

<h2><a href="{{ site.baseurl }}/archive.html" title="記事一覧">記事一覧</a></h2>
<ul>
{% for page in site.posts limit:5 %}
<li>{% for category in page.categories %}[<a href="{{ site.baseurl }}/category.html#{{ category }}" title="{{ category }}">{{ category }}</a>]{% endfor %} <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a> (<time>{{ page.date | date: '%Y-%m-%d' }}</time>)</li>
{% endfor %}
{% if site.posts | size > 5 %}<li><a href="{{ site.baseurl }}/archive.html">少し昔の記事を見る</a></li>{% endif %}
</ul>
